@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    width: 1440px;
    height: 4035px;
    min-height: 900px;
    top: -1387px;
    left: 309px;
    padding: 0px 48px 0px 48px;
    gap: 0px;
    opacity: 0px;
    background: rgba(8, 15, 23, 1);
    box-sizing: border-box;
}
nav{
    justify-self: start;
    width: 1344px;
    height: 96px;
    gap: 8px;
    opacity: 0px;
    padding: 24px 32px 24px 32px;
    gap: 0px;
    opacity: 0px;
    box-sizing: border-box;
    overflow: visible;
}
.container_1{
    justify-self: center;
    display: flex;
    width: 1080px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(162, 210, 96, 0.06);
    backdrop-filter: blur(96px);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
}
.container_1 p{
    color: rgba(214, 221, 230, 1);
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin : 3px;
}
.inner-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 234px;
    height: 24px;
    gap: 32px;
    opacity: 0px;
}
.heading{
    display: flex;
    align-items: center;
    width: 387px;
    height: 72px;
    gap: 0px;
    opacity: 0px;   
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    margin-right: 100px;
}
.content{
    width: 1344px;
    height: 3771px;
    padding: 48px 0px 48px 0px;
    gap: 0px;
    opacity: 0px;
    background: rgba(8, 15, 23, 1);
}
.first{
    width: 1344px;
    height: 1152px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    color: rgba(214, 221, 230, 1);
    size: 120px;
}
.first h1{
    font-family : Plus Jakarta Sans;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.upper{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(214, 221, 230, 1);
    margin-top: 10px;
    margin-bottom: 0;
}
.lower{
    margin-top: 0;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    text-align: left;
    color: rgba(214, 221, 230, 0.62);
}
.second{
    display: flex;
    width: 1344px;
    height: 429px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    opacity: 0px;
    box-sizing: border-box;
}
.second img{
    width: 416px;
    height: 277px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
.third{
    display: flex;
    width: 1344px;
    height: 381px;
    padding: 0px 0px 48px 0px;
    gap: 48px;
    opacity: 0px;
    box-sizing: border-box;
}
.third img{
    width: 416px;
    height: 277px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
.fourth{
    display: flex;
    width: 1344px;
    height: 381px;
    padding: 0px 0px 48px 0px;
    gap: 48px;
    opacity: 0px;
    box-sizing: border-box;
}
.fourth img{
    width: 416px;
    height: 277px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
.fifth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1,344px;
    height: 400px;
    padding: 96px 0px 96px 0px;
    gap: 0px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    color: rgba(214, 221, 230, 1);
    box-sizing: border-box;
}
.fifth p{
    width: 900px;
    height: 208px;
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
footer{
    display: flex;
    width: 1,344px;
    height: 168px;
    padding: 96px 0px 24px 0px;
    gap: 24px;
    opacity: 0px;
    align-items: flex-end;
    border-top: 1px solid white;
}
.footer p{
    color: rgba(214, 221, 230, 0.62);
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
}
.footer button{
    height: 48px;
    padding: 9px 24px 10px;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    background-color: inherit;
    color: rgba(214, 221, 230, 1);
    border-radius: 12px;
    border-color: rgba(214, 221, 230, 0.2);
}
.footer{
    width: 1344px;
    height: 48px;
    gap: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0px;
    align-items: center;
}
.sixth{
    display: flex;
    justify-content: space-between;
    color: rgba(214, 221, 230, 1);
    width: 1344px;
    height: 280px;
    padding: 48px 0px 0px 0px;
    gap: 48px;
    opacity: 0px;
    margin-bottom: 0;
}
.summary{
    width: 648px;
    height: 184px;
    gap: 16px;
    opacity: 0px;
}
.summary_1,.summary_2,.summary_3,.summary_4,.summary_5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 648px;
    height: 24px;
    gap: 48px;
    opacity: 0px;
    margin-bottom: 20px;
}   
.sixth p{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.sixth > p{
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 0;
}
.seventh{
    width: 1,344px;
    height: 288px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(214, 221, 230, 1);
}
.para{
    word-wrap: break-word;
    width: 648px;
    height: 192px;
    gap: 0px;
    opacity: 0px;
    margin: 0 0 0 auto;
}
.s{
    width: 300px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    text-align: left;
}
.eighth > p{
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(214, 221, 230, 1);
}
.eighth{
    width: 1,344px;
    height: 364px;
    padding: 48px 0px 48px 0px;
    gap: 48px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    overflow: hidden;   
}
.e-2-1{
    display: flex;
    flex-direction: row;
    width: 1,344px;
    height: 168px;
    gap: 24px;
    opacity: 0px;
}
.e-2-2{
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 168px;
    padding: 24px 0px 0px 0px;
    gap: 16px;
    border-radius: 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    opacity: 0px;
    background-color: rgba(255, 255, 255, 0.04);
    border-top: 1.5px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    align-items: center;
}
.e-2-2 h2{
    color: rgba(214, 221, 230, 1);
}
.e-2-2 p{
    font-size: large;
    color: rgba(214, 221, 230, 1);
}
.link:hover{
    color: burlywood;
    cursor: pointer;
}
button{
    cursor: pointer;
}
button:hover{
    color: lightcoral;
}
.content h1:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    color: greenyellow;
}
img:hover{
    transition: all 1s ease-in-out;
    transform: scale(0.98);
    cursor: pointer;
}
.second p:hover,.third p:hover,.fourth p:hover{
    cursor: pointer;
    color: greenyellow;
}